<div class="container">
  <div class="footer">
    <div nz-row>
      <div nz-col nzSpan="6">
          <div class="userImg" >
            <img src="../../assets/img7159694579f0.jpeg" alt="">
          </div>
      </div>
      <div nz-col nzSpan="8" class="table">
        <p>上传</p>
        <p>订单</p>
      </div>
      <div nz-col nzSpan="8">
        <input type="text">
      </div>
      <div nz-col nzSpan="2">
        <p>通知</p>
      </div>
    </div>
  </div>
</div>
<!-- 
<div nz-row>
  <div nz-col nzSpan="12">col-12</div>
  <div nz-col nzSpan="12">col-12</div>
</div>
<div nz-row>
  <div nz-col nzSpan="8">col-8</div>
  <div nz-col nzSpan="8">col-8</div>
  <div nz-col nzSpan="8">col-8</div>
</div>
<div nz-row>
  <div nz-col nzSpan="6">col-6</div>
  <div nz-col nzSpan="6">col-6</div>
  <div nz-col nzSpan="6">col-6</div>
  <div nz-col nzSpan="6">col-6</div>
</div> -->