<app-footer [orderData]="orderKey"></app-footer>
<div class="order" nz-row>
  <nz-tabset nzTabPosition="left" nz-col nzSpan='24'>
    <nz-tab nzTitle="设计页" id="id">
      <div style="width: 100%; display: flex;" id="main" nz-row>
        <app-tableData [tableData]="design" nz-row (child)="childData($event)"></app-tableData>
      </div>
    </nz-tab>
    <nz-tab nzTitle="包裹页">
     <div style="width: 100%; display: flex;" id="main" nz-row>
       <app-tableData [tableData]="package"></app-tableData>
     </div>
    </nz-tab>
  </nz-tabset>
</div>
