.order{
  box-sizing: border-box;
  height: 84vh;
  padding:0px 50px;
  min-width: 1246px;
}
* {
  padding: 0;
  margin: 0;
}
#main{
  box-sizing: border-box;
  height: 80vh;
  display:flex;
}

:host ::ng-deep .ant-tabs .ant-tabs-left-bar {
  background-color: #ff8d1a;
}
:host ::ng-deep .ant-tabs-nav .ant-tabs-tab-active{
  background-color: #fff;
  color: black;
  font-size: 18px;
}
:host ::ng-deep .ant-tabs-nav{
  color: black;
  font-size: 18px;
  color: #fff;
}
:host ::ng-deep nav .ant-tabs-tab:hover {
  color: #fff;
}
:host ::ng-deep .ant-tabs .ant-tabs-left-bar .ant-tabs-ink-bar{
  background:#ff8d1a;
}
:host ::ng-deep .ant-picker-range{
  border-color: #ff8d1a;
  width: 204px;
  border-radius:5px;
  height: 30px;
  float: right;
  padding: 5px;
}
:host ::ng-deep .ant-tabs .ant-tabs-left-content{
  box-sizing: border-box;
  padding-top: 30px;
}
:host ::ng-deep .ant-tabs .ant-tabs-left-bar .ant-tabs-nav-wrap{
  box-sizing: border-box;
  padding-top: 20px;
}
:host ::ng-deep .ant-tabs-nav .ant-tabs-tab{
  height: 60px;
  line-height: 44px;
}
app-tabledata{
  height: 100%;
  width:100%;
  display: flex;
}