.order{
  box-sizing: border-box;
  height: 84vh;
  padding:20px 50px 50px;
  
}
#main{
  /* border: 1px solid red; */
  min-width: 1024px;
  box-sizing: border-box;
  height: 80vh;
  display: flex;
}
#main div{
  border: 2px solid #FF8D1A;
  border-radius: 20px;
  margin: 0 10px;
  /* flex-grow: 1; */
}
:host ::ng-deep .ant-tabs .ant-tabs-left-bar {
  background-color: #ff8d1a;
}
:host ::ng-deep .ant-tabs-nav .ant-tabs-tab-active{
  background-color: #fff;
  color: black;
  font-size: 18px;
}
:host ::ng-deep .ant-tabs-nav{
  color: black;
  font-size: 18px;
  color: #fff;
}
:host ::ng-deep nav .ant-tabs-tab:hover {
  /* color: black;
  font-size: 18px; */
  color: #fff;
}
:host ::ng-deep .ant-tabs .ant-tabs-left-bar .ant-tabs-ink-bar{
  background:#ff8d1a;
}